// Font.
$add-font: (
  second-family: (
    "Kanit",
    sans-serif
  ),
  weight-medium: 500,
  weight-normal: 400
);

// Color

$color: (
  main-color: #292984,
  green-color: #05d2dd,
  orange-color: #ff961c,
  purple-color: #8f68fc
);
