*~
.sass-cache
_site/
*.lock
node_modules
modify-pics-plugin
.jekyll-metadata
_posts/2019-04-01-post.md
collections/_posts/2019-04-01-post.md
placeholder.md
placeholder.md
.jekyll-cache
placeholder.md
_algolia_api_key
placeholder.md
events-newsletter.md
_layouts/events-newsletter.html
placeholder.md
draft.md
public/
