# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: DefiPrime.com
#email: youremailaddress@gmail.com
description: All things DeFi - trustless and transparent financial products built on top of the blockchain
#baseurl: "https://defiprime.com" # the subpath of your site, e.g. /blog
url: "https://defiprime.com" # the base hostname & protocol for your site

# Logo settings
logo-image-url: favicon.png
#font-awesome-icon-logo: fas fa-dice-d20

toc:
  min_level: 1 # default: 1
  max_level: 2 # default: 6

pagination:
  enabled: true
  per_page: 16
  permalink: "/page/:num/"
  title: "DeFi blog - page :num"
  limit: 0
  sort_field: "date"
  sort_reverse: true

# Build settings
markdown: kramdown
# Layout settings
home-link-in-menu: no
include: [".htaccess"]
collections_dir: collections
collections:
  lending:
    output: true
    permalink: /product/:name
    section_url: /decentralized-lending
  derivatives:
    output: true
    permalink: /product/:name
    section_url: /derivatives
  analytics:
    output: true
    permalink: /product/:name
    section_url: /defi-analytics
  assets-management-tools:
    output: true
    permalink: /product/:name
    section_url: /assets-management-tools
  exchanges:
    output: true
    permalink: /product/:name
    section_url: /exchanges
  infrastructure:
    output: true
    permalink: /product/:name
    section_url: /infrastructure
  insurance:
    output: true
    permalink: /product/:name
    section_url: /insurance
  assets-tokenization:
    output: true
    permalink: /product/:name
    section_url: /assets-tokenization
  kyc_identity:
    output: true
    permalink: /product/:name
    section_url: /decentralized_kyc_identity
  marketplaces:
    output: true
    permalink: /product/:name
    section_url: /decentralized_marketplaces
  prediction_markets:
    output: true
    permalink: /product/:name
    section_url: /prediction-markets
  stablecoins:
    output: true
    permalink: /product/:name
    section_url: /stablecoins
  margin-trading:
    output: true
    permalink: /product/:name
    section_url: /margin-trading
  events:
  payments:
    output: true
    permalink: /product/:name
    section_url: /payments
  staking:
    output: true
    permalink: /product/:name
    section_url: /staking
  dao:
    output: true
    permalink: /product/:name
    section_url: /dao
  alternative-savings:
    output: true
    permalink: /product/:name
    section_url: /alternative-savings
  yield-aggregators:
    output: true
    permalink: /product/:name
    section_url: /yield-aggregators
  alternatives:
    output: true
    permalink: /product/:name
    section_url: /alternatives
  airdrops:
    output: true
    permalink: /airdrop/:name
    section_url: /airdrop

defaults:
  - values:
      layout: "product"
exclude:
  - .jekyll-cache
  - node_modules
  - README.md
  - CONTRIBUTING.md
  - gems
keep_files: [images, admin]
sass:
  style: compressed

algolia:
  application_id: 18BDKQYV27
  index_name: defiprime2
  search_only_api_key: adb162fc8601b6a98051de76dd941a6b
  max_record_size: 20000
  #everything in md or html
  files_to_exclude:
    - admin/
    - images/
    - 404.md
    - about.md
    - defi_rates.md
    - blog.md
    - bitcoin.md
    - defi_rates.md
    - defi-events.md
    - eos.md
    - ethereum.md
    - placeholder.md
    - .github
    - /amp

lazy_load_image:
  src_attr_name: data-src # [required] You need to specify the attributes to be saved for lazy loading
  #preload_image: /path/to/image # [optional] you can add a data uri or loading image as fallback src
  class_attr_values: # [optional] if you want to add custom class value, please add values
    - lazyload
  # ignore_selectors: # [optional] if you want to ignore applying lazy load image, please add selector (css or xpath)
  #   - ".ignore-lazy-image-load"
  #   - "/*[@class='ignore-lazy-image-load']"
  # additional_attrs: # [optional] if you want to add attributes, please add key value
  #   "data-size": auto
feed:
  path: feed.xml

tag_page_layout: tag_page
tag_page_dir: t
