[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
[[plugins]]
package = "netlify-plugin-amp-server-side-rendering"
