<!-- Including InstantSearch.js library and styling -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.34.0/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.5.4/dist/instantsearch.production.min.js"></script>
<!-- or include the full Algolia theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css"
  integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">

<script>

  var emptyBox = true;

  // Instanciating InstantSearch.js with Algolia credentials
  const search = instantsearch({
    searchFunction: (helper) => {
      if (helper.state.query.length === 0) {
        emptyBox = true;
        return; // do not trigger search
      }
      emptyBox = false;

      helper.search(); // trigger search
    },
    indexName: '{{ site.algolia.index_name }}',
    searchClient: algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}')
  });

  // Adding searchbar and results widgets
  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-searchbar',
      placeholder: 'Search Defiprime',
      showLoadingIndicator: false,
      poweredBy: true, // This is required if you're on the free Community plan
      cssClasses: {
        root: 'defi-searchbox-root',
        input: 'defi-search-inputbox',
        reset: 'defi-clear-searchbox',
        form: 'defi-search-form',
        submit: 'defi-search-submit',
        loadingIndicator: 'defi-search-loading'
      }
    })
  );

  if (document.querySelector("#custom-searchbox")) {
    document.querySelector("#custom-searchbox").addEventListener("click", function (e) {
      this.style.display = 'none';
      document.querySelector("#defi-search").style.display = 'block';
      document.querySelector(".defi-search-inputbox").click();
    });
  }

  var groupBy = function (arr, criteria) {
    if (!Array.isArray(arr)) {
      return arr;
    }
    return arr.reduce(function (obj, item) {

      // Check if the criteria is a function to run on the item or a property of it
      var key = typeof criteria === 'function' ? criteria(item) : item[criteria];

      if (criteria.indexOf('|') > -1) {
        var criterias = criteria.split('|');
        for (let subCriteria of criterias) {
          if (item[subCriteria] != undefined) {
            var key = item[subCriteria];
            break;
          }
        }
      }

      // If the key doesn't exist yet, create it
      if (!obj.hasOwnProperty(key)) {
        obj[key] = [];
      }

      // Push the value to the object
      obj[key].push(item);

      // Return the object to the next item in the loop
      return obj;

    }, {});
  };

  const capitalize = (s) => {
    if (typeof s !== 'string') return ''
    return s.charAt(0).toUpperCase() + s.slice(1)
  }

  const renderHits = (renderOptions, isFirstRender) => {
    let { hits, widgetParams } = renderOptions;
    let template = `
    <div class='defi-search-no-records'>
      ${ emptyBox ? 'Type to start searching' : hits.length + ' matching materials'}
    </div>
  `;

    if (hits.length != 0) {
      hits = groupBy(hits, 'category|collection');

      let indexOfCategory = 0;

      for (const hitCategory in hits) {
        template += `
        <div class='category_searchitem'>
          ${hitCategory.toString() != 'undefined' ? capitalize(hitCategory) : 'Uncategorized'}
        </div>
      `;
        template += hits[hitCategory].map((item) => `
        <a href="{{ site.baseurl }}${item.url}" class='searchpost-link'>
          <h2>${item.title}</h2>
          <div class="searchpost-data">${$(item.html).text()}</div>
        </a>
      `).join('')
        indexOfCategory++;
        if (indexOfCategory != Object.keys(hits).length) { // prevent inserting on last one
          template += `<hr class='defi-search-separator' />`
        }
      }
    }

    widgetParams.container.innerHTML = template;
  };

  // Create the custom widget
  const customHits = instantsearch.connectors.connectHits(renderHits);

  // Instantiate the custom widget
  search.addWidgets([
    customHits({
      container: document.querySelector('#search-hits'),
    }),
    instantsearch.widgets.poweredBy({
      container: '#search-powered-by',
    })
  ]);

  // Starting the search
  search.start();

  window.addEventListener('load', () => {
    //change search icon svg from search-icon.svg
    $(".defi-search-submit").html('<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="6.5" stroke="#8B8BB8" stroke-width="2" /><path d="M20 20L15 15" stroke="#8B8BB8" stroke-width="2" /></svg>');

    function exitSearchMode() {
      if (document.querySelector("#custom-searchbox")) {
        $("#custom-searchbox").show();
        $("#defi-search").hide();
      }
      $("#defi-search-fullpage").css('display', 'none');
      $("#search-hits").css('display', 'none');
      $(".defi-search-inputbox").removeClass('searchbox-opened');
      $(".defi-search-form").stop(true, true).animate({
        maxWidth: '300px'
      }, 200)
      $(".defi-search-submit").removeClass("active_magnifying_icon");
      $(".defi-clear-searchbox").hide();
      $("#search-powered-by").removeClass('inner-powered-by')
      $("#search-powered-by").removeAttr('style');
    }

    $(".defi-clear-searchbox").click(() => exitSearchMode());

    $(document).keyup(function (e) {
      if (e.key === "Escape") { // escape key maps to keycode `27`
        exitSearchMode();
      }
    });

    $(document).on('click', '.defi-search-inputbox', () => {
      $('.defi-search-inputbox').addClass('searchbox-opened');
      $("#defi-search-fullpage").css('display', 'block');
      $("#search-hits").css('display', 'block');
      $(".defi-search-form").stop(true, true).animate({
        maxWidth: '730px'
      }, 200)
      $(".defi-search-submit").addClass("active_magnifying_icon");
      $(".defi-clear-searchbox").show();
      $("#search-powered-by").addClass('inner-powered-by')
      const rightOffset = ($("#defi-search").width() - $('.defi-search-no-records').width()) / 2 + $('.defi-search-no-records').width() + 24;

      console.log(window.innerWidth)

      $("#search-powered-by").css("left", rightOffset - $('#search-powered-by').width() + 'px');
      if (window.innerWidth < 480) {
        $('#search-powered-by').attr('style', function (i, s) { return s + 'top: -24px !important;' });
      }
    })
  });
</script>