{% assign author = site.data.authors[page.author] %}

<div class="author">
   <div class="author-wrap">
      <div class="author-info">
         <div class="author-img">
            {% if author.image %}
            <img class="lazyload" data-src="{{ author.image }}">
            {% endif %}
            <div class="author-social hidden-small">
              {% if author.twitter %}
              <a href="{{ author.twitter }}" class="social-link">
                {% include icons/twitter.svg %}
              </a>
              {% endif %}
              {% if author.github %}
                <a href="{{ author.github }}" class="social-link">
                  {% include icons/github.svg %}                
                </a>
              {% endif %}
           </div>
         </div>
         <div class="author-descr">
             <span class="author-about"> About the author </span>
            <div class="author-title">
               <div class="author-name">{{ author.name }}</div>
            </div>
            <div class="author-social shown-small">
              {% if author.twitter %}
              <a href="{{ author.twitter }}" class="social-link">
                {% include icons/twitter.svg %}
              </a>
              {% endif %}
              {% if author.github %}
                <a href="{{ author.github }}" class="social-link">
                  {% include icons/github.svg %}                
                </a>
              {% endif %}
           </div>
            <div class="author-skills"> {{ author.bio }} </div>
         </div>
      </div>
   </div>
</div>
