<h3>The Latest:</h3>
<section class="tiles">
	{% assign posts = site.categories.blog | where_exp:"post", "post.url != page.url" | sample:3 %}

	{% for post in posts %}
	<article>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}" class="post-link">
			<div class="post-top">
				<span class="image">
					<img class="lazyload" data-src="{{ post.quote }}" alt="" />
				</span>
			</div>
			<div class="descr">
				<div class="content">
					<p>{{ post.intro }}</p>
				</div>
			</div>
		</a>
	</article>
	{% endfor %}
</section>