{% assign project = include.project%}
<p>
    <span>
        {% if project.ecosystem contains 'ethereum' %}
            {% include icons/ethereum.svg %}
        {% endif %}

        {% if project.ecosystem contains 'bitcoin' %}
            {% include icons/bitcoin.svg %}
        {% endif %}

        {% if project.ecosystem contains 'eos' %}
            {% include icons/eos.svg %}
        {% endif %}

        {% if project.ecosystem contains 'tron' %}
            {% include icons/tron.svg %}
        {% endif %}

        {% if project.ecosystem contains 'stellar' %}
            {% include icons/stellar.svg %}
        {% endif %}

        {% if project.type == 'non-custodial' %}
            {% include icons/non-custodial.svg %}
        {% endif %}

        {% if  project.platform contains 'ios' %}
            {% include icons/ios.svg %}
        {% endif %}

        {% if  project.platform contains 'android' %}
            {% include icons/android.svg %}
        {% endif %}

        {% if  project.platform contains 'web' %}
            {% include icons/web.svg %}
        {% endif %}

        {% if  project.platform contains 'win' %}
            {% include icons/win.svg %}
        {% endif %}

        {% if  project.platform contains 'mac' %}
            {% include icons/mac.svg %}
        {% endif %}
        
        {% if  project.platform contains 'linux' %}
            {% include icons/linux.svg %}
        {% endif %}

        {% if project.type contains 'cefi' %}
            {% include icons/cefi.svg %}
        {% endif %}
    </span>
</p>