{% assign project = include.project%}
<p>
  <span>
    {% if project.ecosystem contains 'ethereum' %}
    <span title="Built on Ethereum or related to Ethereum ecosystem">
      {% include_cached icons/ethereum.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'bitcoin' %}
    <span title="Using Bitcoin ecosystem" title="Using Bitcoin ecosystem">
      {% include_cached icons/bitcoin.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'bsc' %}
    <span title="Built on Binance or related to Binance ecosystem">
      {% include_cached icons/binance.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'eos' %}
    <span title="Built on EOS or related to EOS ecosystem">
      {% include_cached icons/eos.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'tron' %}
    <span title="Built on Tron or related to Tron ecosystem">
      {% include_cached icons/tron.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'polygon' %}
    <span title="Built on Polygon or related to Polygon ecosystem">
      {% include_cached icons/polygon.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'solana' %}
    <span title="Built on Solana or related to Solana ecosystem">
      {% include_cached icons/solana.svg %}
    </span>
    {% endif %} {% if project.ecosystem contains 'stellar' %}
    <span title="Built on Stellar or related to Stellar ecosystem">
      {% include_cached icons/stellar.svg %}
    </span>
    {% endif %} {% if project.type == 'non-custodial' %}
    <span title="Non-custodial"> {% include_cached icons/non-custodial.svg %} </span>
    {% endif %} {% if project.platform contains 'ios' %}
    <span title="Mobile wallet for iOS"> {% include_cached icons/ios.svg %} </span>
    {% endif %} {% if project.platform contains 'android' %}
    <span title="Mobile wallet for Android">
      {% include_cached icons/android.svg %}
    </span>
    {% endif %} {% if project.platform contains 'web' %}
    <span title="Browser based wallet"> {% include_cached icons/web.svg %} </span>
    {% endif %} {% if project.platform contains 'win' %}
    <span title="Desktop wallet for windows">
      {% include_cached icons/win.svg %}
    </span>
    {% endif %} {% if project.platform contains 'mac' %}
    <span title="Desktop wallet for osx"> {% include_cached icons/mac.svg %} </span>
    {% endif %} {% if project.platform contains 'linux' %}
    <span title="Desktop wallet for linux">
      {% include_cached icons/linux.svg %}
    </span>
    {% endif %} {% if project.type contains 'cefi' %}
    <span
      title="CeFi product. CeFi products are custodial, use centralized price feeds, initiate margin calls centrally, centrally determine interest rates, and centrally provide liquidity for their margin calls."
    >
      {% include_cached icons/cefi.svg %}
    </span>
    {% endif %}
  </span>
</p>
