<section id="coming_soon">
  <h3>DeFi is coming. Don't get left behind</h3>
  <div class="group-button">
    <a href="https://defiprime.substack.com/" target="_blank">
      <button>
        {% include icons/letter.svg %} Monthly newsletter
      </button>
    </a>
    <a href="https://twitter.com/defiprime" target="_blank">
      <button>
        {% include icons/twitter.svg %} Daily news on twitter
      </button>
    </a>
    <a href="https://t.me/defiprime" target="_blank">
      <button>
        {% include icons/telegram.svg %} Telegram channel
      </button>
    </a>
  </div>
</section>
