<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="footer-row">
      <div class="footer-col">
        <div class="social-links shown-small">
          <a href="https://twitter.com/defiprime" class="icon" rel="me">
            {% include icons/twitter.svg %}
            <span class="label">Twitter</span>
          </a>
          <a href="https://t.me/defiprime" class="icon" rel="me">
            {% include icons/telegram.svg %}
            <span class="label">Telegram</span>
          </a>
          <a href="https://www.youtube.com/channel/UCKHzyg7QWItUMmP3PLlT-DQ" class="icon" rel="me">
            {% include icons/youtube.svg %}
            <span class="label">YouTube</span>
          </a>
          <a href="https://github.com/defiprime/defiprime" class="icon" rel="me">
            {% include icons/github.svg %}
            <span class="label">GitHub</span>
          </a>
        </div>
        <div class="info">
          <a href="/ethereum" class="link">Ethereum DeFi ecosystem</a>
          <a href="/polygon" class="link">Polygon DeFi ecosystem</a>
          <a href="/solana" class="link">Solana DeFi ecosystem</a>
          <a href="/bsc" class="link">BSC DeFi ecosystem</a>
          <a href="/bitcoin" class="link">Bitcoin DeFi ecosystem</a>
        </div>
      </div>
      <div class="footer-col">
        <div class="info">
          <a href="https://www.getrevue.co/profile/defiprime" class="link">Defiprime newsletter</a>
          <a href="/about" class="link">About</a>
          <a href="/about#product-listing-101-definition-of-the-best-defi-product" class="link">Product Listing</a>
          <a href="https://sneg55.typeform.com/to/zAR7ZH" class="link">Advertising</a>
        </div>
      </div>
      <div class="footer-col">
        <div class="social-links hidden-small">
          <a href="https://twitter.com/defiprime" class="icon" rel="me">
            {% include icons/twitter.svg %}
            <span class="label">Twitter</span>
          </a>
          <a href="https://t.me/defiprime" class="icon" rel="me">
            {% include icons/telegram.svg %}
            <span class="label">Telegram</span>
          </a>
          <a href="https://www.youtube.com/channel/UCKHzyg7QWItUMmP3PLlT-DQ" class="icon" rel="me">
            {% include icons/youtube.svg %}
            <span class="label">YouTube</span>
          </a>
          <a href="https://github.com/defiprime/defiprime" class="icon" rel="me">
            {% include icons/github.svg %}
            <span class="label">GitHub</span>
          </a>
        </div>
        <div class="footer-col-bottom">
          <p>TipJar:</p>
          <p class="hash"><span>ETH: </span><span class="value">0xEbDb626C95a25f4e304336b1adcAd0521a1Bdca1</span></p>
          <p><span>ENS: </span>defiprime.eth</p>
          <a href="https://gitcoin.co/grants/139/defiprimecom">Gitcoin Grants</a>
        </div>
      </div>
    </div>
    <div class="footer-row">
      <div class="text-made"><span>Made with ❤️ In LA.</span></div>
      <div class="disclaimer">
        <span>Disclosures and footnotes:</span> Our Website is a financial data and news portal, discussion forum,
        and content aggregator, so cannot substitute for professional advice and independent verification. Our
        Content is intended to be used and should be used for informational purposes only. It is crucial to do your
        own research before making any investment. You should take independent financial advice from a professional
        or independently research and verify, any information that you find on our Website and wish to rely upon,
        whether to make an investment decision or otherwise. Nothing contained on our Site constitutes a
        solicitation, recommendation, endorsement, or offer by defiprime or any third party service provider to buy
        or sell any securities or other financial instruments. Keep in mind that we may receive commissions when you
        click on some links on our site. However, this does not impact our reviews and comparisons. We try our best
        to keep things fair and balanced, in order to help you make informed decision.
      </div>
    </div>
  </div>
  </div>
</footer>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script  src="/assets/js/lazysizes.min.js"></script>
<script  src="/assets/js/tooltipster/tooltipster.bundle.min.js"></script>
<script  src="/assets/js/skel.min.js"></script>
<script  src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
