</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="footer">
			<div class="footer-col">
				<div class="social-links">
					<a href="https://twitter.com/defiprime" class="icon style2 fa-twitter" rel="me"><span class="label">Twitter</span></a>
					<a href="https://github.com/sneg55/defiprime" class="icon style2 fa-github" rel="me"><span class="label">GitHub</span></a></br>
				</div>
				<div class="info">
					<a href="/ethereum" class="link">Ethereum DeFi ecosystem</a>
					<a href="/eos" class="link">EOS DeFi ecosystem</a>
					<a href="/about" class="link">Definition of ‘the best product’</a>
					<a href="https://defiprime.substack.com/subscribe" class="link">Bi-weekly DeFi Product's newsletter</a>
					<a href="https://www.producthunt.com/posts/defiprime?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-defiprime" target="_blank" class="product-link"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=151792&theme=light" alt="DeFiprime - Curated List of Decentralized finance (DeFi) Products | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a></br>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-col-top">
					<p class="text-made">Made with ❤️ In LA.</p>
				</div>
				<div class="footer-col-bottom">
					<span class="title">TipJar</span>
					<span class="hash-val">ETH: 0xEbDb626C95a25f4e304336b1adcAd0521a1Bdca1</span>
					<a href="https://tippin.me/@sawinyh">Tippin.me</a>
				</div>
			</div>
		</div>

	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
<script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
