</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="footer">
			<div class="footer-col">
				<div class="social-links">
					<a href="https://twitter.com/defiprime" class="icon style2" rel="me"><i class="fab fa-twitter"></i><span class="label">Twitter</span></a>
					<a href="https://t.me/defiprime" class="icon style2" rel="me"><i class="fab fa-telegram-plane"></i><span class="label">Telegram</span></a>
					<a href="https://github.com/sneg55/defiprime" class="icon style2" rel="me"><i class="fab fa-github"></i><span class="label">GitHub</span></a></br>
				</div>
				<div class="info">
					<a href="/ethereum" class="link">Ethereum DeFi ecosystem</a>
					<a href="/eos" class="link">EOS DeFi ecosystem</a>
					<a href="/bitcoin" class="link">Bitcoin DeFi ecosystem</a>
					<a href="https://defiprime.substack.com/subscribe" class="link">Monthly DeFi Product's newsletter</a>
					<a href="/about" class="link">About</a>
					<a href="/about#product-listing-101-definition-of-the-best-defi-product" class="link">Product Listing</a>
					<a href="/about#advertising-on-defiprime" class="link">Advertising</a>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer-col-top">
					<p class="text-made">Made with ❤️ In LA.</p>
				</div>
				<div class="footer-col-bottom">
					<span class="title">TipJar:</span>
					<span class="hash-val">ETH: 0xEbDb626C95a25f4e304336b1adcAd0521a1Bdca1</span>
					<span class="hash-val">ENS: defiprime.eth</span>

					<a href="https://gitcoin.co/grants/139/defiprimecom">Gitcoin Grants</a>
				</div>
				<div class="disclaimer">
					<span>Disclosures and footnotes:</span> Our Website is a financial data and news portal, discussion forum, and content aggregator, so cannot substitute for professional advice and independent verification.  Our Content is intended to be used and should be used for informational purposes only. It is crucial to do your own research before making any investment. You should take independent financial advice from a professional or independently research and verify, any information that you find on our Website and wish to rely upon, whether to make an investment decision or otherwise.

Nothing contained on our Site constitutes a solicitation, recommendation, endorsement, or offer by defiprime or any third party service provider to buy or sell any securities or other financial instruments.

				</div>
			</div>
		</div>

	</div>
</footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/lazysizes.min.js"></script>
<script src="/assets/js/tooltipster/tooltipster.bundle.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
