<!-- Wrapper -->
<div id="wrapper">

	<header id="header" class="header">
		<div class="container inner">
			<!-- Logo -->
		<div class="logo header ">
			<a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="" />Defiprime.com</a></div>
			<div class="nav  nav--header ">
			<ul class="list  list--nav">
			<li class="item  item--nav title">
				<a href="/blog">🔥 DeFi Blog</a>
			</li>

			</ul>
			</div>

			<!-- Nav -->



		</div>
	</header>

	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
