<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB9GWJD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">
			<div class="header-content">
				<!-- Logo -->
				<div class="header-content-logo">
					<a href="{{ site.baseurl }}/" class="logo hidden-mobile" >
						<img src="/images/logo.svg"  alt="" />
					</a>
					<a href="{{ site.baseurl }}/" class="logo hidden-desktop" >
						<img src="/images/logo-small.svg"  alt="" />
					</a>
				</div>
				<div class="header-content-menu">
					<ul class="menu-list">
						<li class="menu-list-item">
							<a href="/blog" class="link" >
								<img src="/images/vector.png" alt="" />
								<span class="text">Defi Blog</span>
							</a>
						</li>
						<li class="menu-list-item">
							<a href="/about" class="link" >
								<span class="text">About</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
