<aside id='sidepanel'>
    <h3>Contents</h3>
    <hr />
    <ul class="toc-sidepanel">
        {% for link in page.toc_sidepanel %}
            <li class="toc-item">
                <a href='{{link.url}}'>{{link.title}}</a>
                {% assign nested_list = link.children %}
                {% if nested_list.size > 0 %}
                    <ul class="inner-list">
                        {% for nested_child in nested_list %}
                            <li class="toc-item">
                                <a href='{{nested_child.url}}'>{{nested_child.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>
<script>
    function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document. documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document. documentElement.clientWidth)
        );
    }
    window.onload = () => {
        $(".toc-item a").click(function(e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.next().hasClass('show')) {
                $this.next().slideUp(350);
                $this.next().removeClass('show');
            } else {
                $this.parent().parent().find('li .inner-list').removeClass('show');
                $this.parent().parent().find('li .inner-list').slideUp(350);
                $this.next().toggleClass('show');
                $this.next().slideToggle(350);
            }
            window.location = $this.attr('href');
        })

        var offsetTop = (0.3 / 2) * $(window).height(); // left aside container is 70% wide. THerefore, check for  half of 30%

        var firstHeading = document.querySelectorAll('.article .container h1')[0] || document.querySelectorAll('.article .container h2')[0] || document.querySelectorAll('.article .container h3')[0];
        $(window).on('scroll', () => {
            var elementTopOffset = $(firstHeading).offset().top - $(window).scrollTop();
            if(elementTopOffset < offsetTop) {
                $("#sidepanel").stop(true, true).animate({
                    opacity: 1
                }, 200);
            } else {
                $("#sidepanel").stop(true, true).animate({
                    opacity: 0
                }, 200);
            }
        })
    }
</script>