<aside id='sidepanel'>
    <h3>Contents</h3>
    <hr />
    <ul class="toc-sidepanel">
        {% for link in page.toc_sidepanel %}
            <li class="toc-item">
                <a href='{{link.url}}'>{{link.title}}</a>
                {% assign nested_list = link.children %}
                {% if nested_list.size > 0 %}
                    <ul class="inner-list">
                        {% for nested_child in nested_list %}
                            <li class="toc-item">
                                <a href='{{nested_child.url}}'>{{nested_child.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>
<script>
    window.onload = () => {
        //$(".toc-item ul").addClass('inner-list');
        $("#sidepanel").animate({
            opacity: 1
        }, 200);
        $(".toc-item a").click(function(e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.next().hasClass('show')) {
                $this.next().slideUp(350);
                $this.next().removeClass('show');
            } else {
                $this.parent().parent().find('li .inner-list').removeClass('show');
                $this.parent().parent().find('li .inner-list').slideUp(350);
                $this.next().toggleClass('show');
                $this.next().slideToggle(350);
            }
            window.location = $this.attr('href');
        })
    }
</script>