<aside id='sidepanel'>
    <h3>Contents</h3>
    <hr />
    <ul class='toc-sidepanel'></ul>
</aside>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<script>
    window.onload = () => {

        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.toc-sidepanel',
            // Where to grab the headings to build the table of contents. 
            contentSelector: '.article .container-ecosystem',
            listItemClass: 'toc-item',
            orderedList: false,
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3, h4',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
            headingsOffset: 10
        });

        var firstHeading = document.querySelectorAll('.article .container-ecosystem h1')[0] || document.querySelectorAll('.article .container-ecosystem h2')[0] || document.querySelectorAll('.article .container-ecosystem h3')[0];
        var sidepanel =  $("#sidepanel");
        var coming_soon = $("#coming_soon");
        $(window).on('scroll', () => {
            var sidepanelOffset = sidepanel.offset().top;
            var comingsoonOffset = coming_soon.offset().top;
            var headingOffset = $(firstHeading).offset().top;
           
           if (sidepanelOffset + 50 < comingsoonOffset && sidepanelOffset > headingOffset) {
                $("#sidepanel").stop(true, true).animate({
                    opacity: 1
                }, 200, function () {
                    $(this).css("visibility", "visible");
                });
            } else {
                $("#sidepanel").stop(true, true).animate({
                    opacity: 0
                }, 200, function () {
                    $(this).css("visibility", "hidden");
                });
            }

            //autoscroll for active li at Table of Contents. Not the best solution. But there is no option to fire event when class s changed 
            var activeLi = $(".is-active-li")
            sidepanel.animate({ scrollTop: activeLi.offset().top - sidepanel.offset().top + sidepanel.scrollTop() });
        })
    }
</script>