<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Params.pagetitle }}</title>
  <link rel="preconnect" href="https://gstatic.com" crossorigin>
  <link rel="preconnect" href="https://google-analytics.com">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://googletagmanager.com">
  <link rel="preconnect" href="https://telegram.org">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preload" href="/images/vector.png" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/logo.svg" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/bg-fon.png" as="image" media="(min-width: 601px)">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ .Params.metadescription | plainify | truncate 160 }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="preload" as="style">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css"  as="style"  media="print" onload="this.media='all'" >
  <meta property="og:title" content="{{ .Params.h1title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:description"
    content="{{ if .Params.excerpt }}{{ .Params.excerpt | plainify | truncate 300 }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta property="og:image" content="{{ index .Params "featured-image" | absURL }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@defiprime">
  <meta name="twitter:creator" content="@defiprime">
  <meta name="twitter:title" content="{{ .Params.h1title }}">
  <meta name="twitter:description" content="{{ .Params.metadescription | plainify | truncate 300 }}">
  <meta name="twitter:image" content="{{ index .Params "featured-image" | absURL }}">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
    crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138327045-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-138327045-1', { 'content_group1': 'blog' });

  </script>
  {{ $author := index .Site.Data.authors .Params.author }}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ if .Params.h1title }}{{ .Params.h1title | htmlEscape }}{{ else if .Title }}{{ .Title | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}",
    "description": "{{ if .Params.metadescription }}{{ .Params.metadescription | plainify | truncate 300 }}{{ else if .Params.excerpt }}{{ .Params.excerpt | plainify | truncate 300 }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "datePublished": "{{ if .Date }}{{ .Date.Format "2006-01-02T15:04:05-07:00" }}{{ else }}{{ now.Format "2006-01-02T15:04:05-07:00" }}{{ end }}",
    "dateModified": "{{ with .GitInfo }}{{ .AuthorDate.Format "2006-01-02T15:04:05-07:00" }}{{ else }}{{ .Date.Format "2006-01-02T15:04:05-07:00" }}{{ end }}",
    "author": {
      "@type": "Person",
      "name": "{{ if $author }}{{ $author.name }}{{ end }}"{{ if and $author $author.url }},
      "url": "{{ $author.url }}"{{ end }}
    },
    "publisher": {
      "@type": "Organization",
      "name": "DefiPrime",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}/images/logo-60w.png",
        "width": 60,
        "height": 60
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{ if index .Params "featured-image" }}{{ index .Params "featured-image" | absURL }}{{ else }}{{ .Site.BaseURL }}/images/logo-60w.png{{ end }}",
      "height": 630,
      "width": 1200
    },
    "articleSection": "{{ .Params.category }}",
    "keywords": "{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ end }}",
    "url": "{{ .Permalink }}"
  }
 </script>
</head>
  <body class="post">
    {{ partialCached "header.html" . }}
    {{ if index .Params "featured-image" }}
      <div class="feature" style="background-image: url({{ index .Params "featured-image" }})">
        <div class="container  typeset"></div>
      </div>
    {{ end }}
    <h1>{{ .Params.h1title }}</h1>
    <main class="main">
      {{ partial "sidepanel.html" . }}
      <article class="article  article--post  content  typeset">
        <div class="container container-toc">
          <div class="author-block">
            {{ $author := index .Site.Data.authors .Params.author }}
            <span class="name">{{ if $author }}{{ $author.name }}{{ end }}</span>
            <span class="date">on {{ .Date.Format "02 Jan 2006" }}</span>
          </div>
          {{ .TableOfContents }}{{ .Content }}
        </div>
      </article>
      <div class="tags">
        {{ if .Params.tags }}
          <span>Tags:</span>
        {{ end }}
        {{ range .Params.tags }}
          <a href="/t/{{ . | lower | replace " " "-" }}.html" rel="tag" class="tag">{{ . }}</a>
        {{ end }}


      </div>
    </main>
    {{ partialCached "folowus.html" . }}
    {{ partial "author_bio.html" . }}
    <h3 class="align-center">The Latest:</h3>
    <section class="latest">
      {{ $currentURL := .RelPermalink }}
      {{ $posts := where site.RegularPages "Section" "blog" }}
      {{ $posts = where $posts "RelPermalink" "ne" $currentURL }}
      {{ $posts = $posts | shuffle | first 4 }}

      {{ range $posts }}
    	<article>
    		<a href="{{ .Permalink }}" class="post-link">
    			<div class="content">
    				<p class="title">{{ .Params.h1title }}</p>
    				<p>{{ .Params.intro }}</p>
    			</div>
    		</a>
    	</article>
    	{{ end }}
    </section>
        {{ partialCached "footer.html" . }}
  </body>
</html>
