<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ if .Params.pagetitle }}{{ .Params.pagetitle | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}</title>
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
    <link rel="preconnect" href="https://google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://googletagmanager.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preload" href="/images/vector.png" as="image" media="(min-width: 601px)">
    <link rel="preload" href="/images/logo.svg" as="image" media="(min-width: 601px)">
    <link rel="preload" href="/images/bg-fon.png" as="image" media="(min-width: 601px)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Params.metadescription | plainify | truncate 160 }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relURL }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"  rel="preload" as="style">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:title" content="{{ if .Params.pagetitle }}{{ .Params.pagetitle | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:description" content="{{ if .Params.metadescription }}{{ .Params.metadescription | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:image" content="{{ index .Params "featured-image" | absURL }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{{ if .Params.pagetitle }}{{ .Params.pagetitle | htmlEscape }}{{ else }}{{ .Site.Title | htmlEscape }}{{ end }}">
    <meta name="twitter:description" content="{{ .Params.metadescription | plainify | truncate 160 }}">
    <meta name="twitter:image" content="{{ index .Params "featured-image" | absURL }}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB9GWJD');</script>
    <!-- End Google Tag Manager -->

</head>

<body id='events-body'>

    {{ partialCached "header.html" . }}
    <!-- Main -->
    <div id="main">
      <div class="inner">
    <h1>DeFi Meetups and Conferences</h1>
    <p class='defi_events_introduction'>
        Upcoming events related to the DeFi ecosystem. Do you want to add your event here? Fill <a href='https://sneg55.typeform.com/to/SPrjTk'>this form</a> or add your event at our <a href="https://github.com/defiprime/defiprime/edit/master/collections/_events/2020-01-01-event.md">github</a>.  </p>
<p> </p>

    <section class='upcoming_events_cards'>
        {{ range site.RegularPages }}
        {{ if eq .Section "events" }}
        {{ if ge .Date.Unix now.Unix }}

        <article>
            <a href='{{ index .Params "product-url" }}' target="_blank" rel="noopener">
                <img class="lazyload" data-src='{{ .Params.image }}'>
                <div class='event_card_info_part prevent-card-stretching'>
                    <h4>{{ index .Params "product-title" }}</h4>
                    <div class='event_card_details'>
                        <date>
                            {{ .Date.Format "02 Jan 2006" }}
                        </date>
                        <span> {{ .Params.location | truncate 31 }} </span>
                    </div>
                    <p>{{ index .Params "product-description" }}</p>
                </div>
            </a>
        </article>
        {{ end }}
        {{ end }}
        {{ end }}
    </section>

      </div>
    </div>
    {{ partialCached "folowus.html" . }}
    {{ partialCached "footer.html" . }}

</body>

</html>
