<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not Found | DeFiprime.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Not Found">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="main-page">
    {{ partialCached "header.html" . }}
    <div id="main">
      <div class="inner">
        <header>
          <h1>URL Not Found</h1>
        </header>
        <p>😞 URL you requested was not found on this site. Please use <a href='/'>search or browse categories</a>.</p>
      </div>
    </div>
    {{ partialCached "footer.html" . }}
</body>
</html>
