.blog-page {
  h1 {
    margin-bottom: 30px;
    ~ p {
      max-width: 730px;
      margin: auto;
      font-size: 16px;
      line-height: 1.8;
      text-align: center;
      color: #292984;
      margin-bottom: 75px;
    }
  }
  .blog-articles {
    article {
      display: flex;
      position: relative;
      width: 100%;
      transition: 0.3s;
      border-top: 1px solid #eaeaf3;
      &:nth-child(3n-2) {
        &:before {
          background-color: #8f68fc;
        }
      }
      &:nth-child(3n-1) {
        &:before {
          background-color: #05d2dd;
        }
      }
      &:nth-child(3n) {
        &:before {
          background-color: #292984;
        }
      }
      &:last-child {
        border-bottom: 1px solid #eaeaf3;
      }
      &:before {
        content: "";
        width: 6px;
        height: 64px;
        position: absolute;
        left: 60px;
        top: -1px;
      }

      &:hover {
        z-index: 2;
        box-shadow: 0 0 0 1px #8f68fc, 0px 2px 12px rgba(41, 41, 132, 0.24);
        &:before {
          left: 0;
        }
      }

      .date {
        position: absolute;
        font-size: 14px;
        line-height: 1.8;
        left: 95px;
        top: 20px;
        color: #292984;
        opacity: 0.6;
      }
      .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
        h2 {
          width: 70%;
        }
        .author-item {
          display: flex;
          align-items: center;
          padding-left: 30px;
          span {
            font-size: 14px;
            line-height: 1.8;
            color: #292984;
            opacity: 0.6;
            &.author {
              font-size: 16px;
              line-height: 1.8;
              color: #8f68fc;
              padding: 0;
              margin: 0;
              border-top: 0;
            }
          }
          img {
            max-width: 60px;
            max-height: 60px;
            border-radius: 50%;
            margin-right: 15px;
          }
        }
      }
      .tags {
        display: flex;
        .tag {
          position: relative;
          padding: 8px 12px;
          color: #ffffff;
          background-color: #ff961c;
          margin: 0 8px 0 0;
          right: 0;
          font-size: 14px;
          line-height: 1;
        }
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-transform: none;
        letter-spacing: normal;
      }

      > a {
        display: block;
        width: 100%;
        padding: 65px 95px;
        text-decoration: none;
        color: _color(main-color);

        > :last-child {
          margin: 0;
        }

        h2 {
          margin: 0;
          font-size: 42px;
          font-family: _add-font(second-family);
          text-transform: none;
          letter-spacing: 0;
          @include breakpoint(medium) {
            font-size: 27px;
          }
          line-height: 1.2;
        }
        .content {
          max-width: 730px;
          overflow: hidden;
          text-overflow: ellipsis;
          p {
            font-size: 20px;
            line-height: 1.8;
            margin-bottom: 30px;
          }

          > :last-child {
            margin-bottom: 0;
            font-size: 21px;
          }
        }
        &:hover {
          h2 {
            color: _color(main-color);
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    .button {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      min-width: 160px;
      margin: 0;
      padding: 0;
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}