#coming_soon {
  padding: 25px 0;
  background-color: #8f68fc;
  box-shadow: 0px 0px 8px rgba(41, 41, 132, 0.1);
  margin-top: 40px;

  h3 {
    font-family: "Kanit", sans-serif;
    text-transform: inherit;
    letter-spacing: normal;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    @include breakpoint(min-small) {
      font-size: 42px;
    }
    @include breakpoint(small) {
      font-size: 30px;
      margin: 0 0 15px 0;
      padding: 0 60px;
    }
  }
  .group-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(small) {
      flex-direction: column;
    } 
    a {
      @include breakpoint(small) {
        margin: auto;
      }
      &:not(:last-child) {
        @include breakpoint(min-small) {
          margin-right: 30px;
        }
      }
      &:focus{
        outline: none;
      }
      button {
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 255px;
        height: 52px;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 400;
        color: #ffffff;
        margin: 15px 0 0 0;
        padding: 0;
        outline: none;
        &:hover {
          background-color: #05d2dd;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
  }
}