<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.pagetitle }} </title>
  <link rel="preconnect" href="https://gstatic.com" crossorigin>
  <link rel="preconnect" href="https://google-analytics.com">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://googletagmanager.com">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preload" href="/images/vector.png" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/logo.svg" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/bg-fon.png" as="image" media="(min-width: 601px)">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="preload" as="style">
  <link rel="stylesheet" href="{{ "/assets/css/tooltipster/tooltipster.bundle.min.css" | prepend: site.baseurl }}" >
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" >
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:title"
    content="{% if page.pagetitle %}{{ page.pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image"
    content="{% if page.og %}{{ site.url }}{{ page.og }}{% else %}{{ site.url }}/images/og.png{% endif %}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@defiprime">
  <meta name="twitter:creator" content="@defiprime">
  <meta name="twitter:title"
    content="{% if page.pagetitle %}{{ page.pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="twitter:image"
    content="{% if page.og %}{{ site.url }}{{ page.og }}{% else %}{{ site.url }}/images/og.png{% endif %}">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
    crossorigin="anonymous"></script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PB9GWJD');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="product-page">

  {% include header.html %}
  <!-- Main -->
  <div id="main">
    <div class="inner">
      <article class="article  article--post  content  typeset">

        <h1>{{ page.h1title }}</h1>

        <div class="custodian_description">
          {{ content }}
        </div>

        <section id='assets_cards'>

          {% assign all_projects = site.alternative-savings
            | concat: site.analytics
            | concat: site.assets-management-tools
            | concat: site.assets-tokenization
            | concat: site.dao
            | concat: site.derivatives
            | concat: site.exchanges
            | concat: site.infrastructure
            | concat: site.insurance
            | concat: site.kyc_identity
            | concat: site.lending
            | concat: site.margin-trading
            | concat: site.marketplaces
            | concat: site.payments
            | concat: site.prediction_markets
            | concat: site.stablecoins
             %}
            {% assign page_cards = all_projects | where: "alternative-to", page.alternative-to %}

          {% for asset_tool in page_cards  %}
          
          
          {% if asset_tool.featured == true %}
          <div class="article-wrapper featured-wrapper">
            <article class="asset_tool_card {{card_filters | join: ' '}}">
            <div class="featured-header">
              <span class="featured-product">

                Featured product
              </span>

              <span class="sponsored">
                Sponsored
              </span>
            </div>
            {% else %}
            <div class="article-wrapper">
              <article class="asset_tool_card {{card_filters | join: ' '}}">
              {% endif %}


                <a href="{{ asset_tool['product-url']}}" target="_blank" rel="noopener">
                  <img src="{{ asset_tool['image'] }}">
                  <button class="visit-website">Visit website</button>
                </a>
                <div class="card_main_details">
                  <h4><a href="{{ asset_tool['product-url']}}" target="_blank"
                    rel="noopener">{{ asset_tool["product-title"] }}</a></h4>
                  <div class="asset-tool-tags">
                    {% assign market_tags = asset_tool["ecosystem"] | split: ", " %}
                    {% for market_tag in market_tags %}
                    {% case market_tag %}
                    {% when "ethereum" %}
                    <span class="tooltip" title="Built on Ethereum or related to Ethereum ecosystem">
                      {% include icons/ethereum.svg %}
                    </span>
                    {% when "bsc" %}
                    <span class="tooltip" title="Built on BSC or related to BSC ecosystem">
                      {% include icons/binance.svg %}
                    </span>
                    {% when "bitcoin" %}
                    <span class="tooltip" title="Using Bitcoin ecosystem">
                      {% include icons/bitcoin.svg %}
                    </span>
                    {% when "tron" %}
                    <span class="tooltip" title="Built on Tron or related to Tron ecosystem">
                      {% include icons/tron.svg %}
                    </span>
                    {% when "stellar" %}
                    <span class="tooltip" title="Built on Stellar or related to Stellar ecosystem">
                      {% include icons/stellar.svg %}
                    </span>
                    {% when "eos" %}
                    <span class="tooltip" title="Built on EOS or related to EOS ecosystem">
                      {% include icons/eos.svg %}
                    </span>
                    {% endcase %}
                    {% endfor %}
                    <div class="tags_separator"></div>
                    {% assign platform_tags = asset_tool["platform"] | split: ", " %}
                    {% for platform_tag in platform_tags %}
                    {% case platform_tag %}
                    {% when "android" %}
                    <span class="tooltip" title="Mobile wallet for Android">
                      {% include icons/android.svg %}
                    </span>
                    {% when "web" %}
                    <span class="tooltip" title="Browser based wallet">
                      {% include icons/web.svg %}
                    </span>
                    {% when "ios" %}
                    <span class="tooltip" title="Mobile wallet for iOS">
                      {% include icons/ios.svg %}
                    </span>
                    {% endcase %}
                    {% endfor %}
                    {% assign type_tags = asset_tool["type"] | split: ", " %}
                    {% for type_tag in type_tags %}
                    {% if type_tag == "cefi" %}
                    <span class="tooltip"
                      title="CeFi product. CeFi products are custodial, use centralized price feeds, initiate margin calls centrally, centrally determine interest rates, and centrally provide liquidity for their margin calls.">
                      {% include icons/cefi.svg %}
                    </span>
                    {% else %}
                    <span class="tooltip" title="Non-custodial">
                      {% include icons/non-custodial.svg %}
                    </span>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <p>{{ asset_tool["product-description"] | markdownify | remove: '<p>' | remove: '</p>' }}
                  </p>
                  <div title="Would you recommend this product?" class="comments">
                    <a href="/product/{{ asset_tool.product-title | slugify: 'latin'}}">
                      {% include icons/comment.svg %}
                      <span class="gc-counter"
                        data-url="{{ site.url }}/product/{{ asset_tool.product-title | slugify: 'latin' }}">0</span>
                      <span class="tip"><span class="icon">👈</span> What do you think?</span>
                    </a>
                  </div>
                </div>
              </article>
            </div> <!--  /div end for div.article-wrapper -->

            {% endfor %}
        </section>

      </article>

      <script src="/assets/js/page.js"></script>

      <!--
    Include this javascript code after your .gc-counters elements
-->
      <script type="text/javascript">

        /* - - - CONFIGURATION VARIABLES - - - */

        var website = 'defiprime_prod';

        /* - - - DON'T EDIT BELOW THIS LINE - - - */

        // get all counters
        var counters = document.querySelectorAll('.gc-counter');
        Array.prototype.forEach.call(counters, function (counter) {
          var url = counter.dataset.url;
          var uid = counter.dataset.uid;
          var req = new XMLHttpRequest();

          // called when the ajax request is completed
          req.onreadystatechange = function () {
            if (this.readyState == 4) {
              if (this.status === 200) {
                try {
                  var resp = JSON.parse(this.responseText);
                } catch (e) {
                  console.error(
                    '[gc-counter] fail to decode response "' + this.responseText + '", using url "' + url + '"'
                  );
                  return;
                }
                if (typeof resp.count !== 'undefined') {
                  // write count
                  counter.textContent = resp.count;
                  if (resp.count > 0) {
                    counter.className += " gc-active-comment";
                  }
                }
              } else {
                console.error(
                  '[gc-counter] invalid url "' + url + '", this url is not rattached to a GraphComment page.'
                );
              }
            }
          }

          // send ajax request
          var query = 'website=' + encodeURIComponent(website)
            + '&url=' + encodeURIComponent(url)
            + (uid ? '&uid=' + encodeURIComponent(uid) : '')
            ;
          req.open('GET', 'https://graphcomment.com/api/pub/numberOfComments?' + query, true);
          req.send();
        });
      </script>
    </div>
  </div>
  {% include also.html %}
  {% include footer.html %}
</body>

</html>
