<!DOCTYPE html>
<html amp lang="en">

<head>
  <title>{{ page.pagetitle }} </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600" rel="stylesheet">
  <link rel="canonical" href="{{  page.url | replace:'/amp/','' | prepend: site.url   }}">
  <meta property="og:title" content="{{ page.h1title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{{ page.featured-image | prepend: site.url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@defiprime">
  <meta name="twitter:creator" content="@defiprime">
  <meta name="twitter:title" content="{{ page.h1title }}">
  <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 300 }}">
  <meta name="twitter:image" content="{{ page.featured-image | prepend: site.url }}">

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  {% include_cached amp/scss.html %}


  <script async src="https://cdn.ampproject.org/v0.js"></script>

 <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>


</head>
  <body class="post">

    <amp-analytics type="gtag" data-credentials="include">
      <script type="application/json">
      {
        "vars" : {
          "gtag_id": "UA-138327045-1",
          "config" : {
            "UA-138327045-1": { "groups": "default" }
          }
        }
      }
      </script>
      </amp-analytics>

    {% include_cached amp/header-amp.html %}
    {% if page.featured-image %}
      <div class="feature" style="background-image: url({{ page.featured-image }})">
        <div class="container  typeset"></div>
      </div>
    {% endif %}
    <h1>{{ page.h1title }}</h1>
    <main class="main">

      <article class="article  article--post  content  typeset">
        <div class="container container-toc">
          <div class="author-block">
            {% assign author = site.data.authors[page.author] %}
            <span class="name">{{ author.name }}</span>
            <span class="date">on {{ page.date | date_to_string }}</span>
          </div>
          {{ content | toc | amp_images }}
        </div>
      </article>
      <div class="tags">
        {% if page.tags %}
          <span>Tags:</span>
        {% endif %}
        {% for tag in page.tags %}
          <a href="/t/{{tag | downcase | replace: " ", "-" }}.html" rel="tag" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </main>

    {% include amp/author_bio-amp.html %}
    {% include blog-readmore.html %}
    {% include_cached amp/footer-amp.html %}
  </body>
</html>
