<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <title>{{ page.pagetitle }} </title>
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
    <link rel="preconnect" href="https://google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://googletagmanager.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preload" href="/images/vector.png" as="image" media="(min-width: 601px)">
    <link rel="preload" href="/images/logo.svg" as="image" media="(min-width: 601px)">
    <link rel="preload" href="/images/bg-fon.png" as="image" media="(min-width: 601px)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="https://defiprime.com/blog/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"  rel="preload" as="style">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ site.url }}/images/og-blog.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <meta name="twitter:image" content="{{ site.url }}/images/og-blog.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138327045-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138327045-1', {'content_group1': 'blog'});

    </script>

</head>

<body class="blog-page">

    {% include_cached header.html %}
    <!-- Main -->
    <div id="main">
      <div class="inner">
    {{ content }}
      </div>
    </div>
    {% include_cached footer.html %}

</body>

</html>
