<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.pagetitle }}</title>
  <link rel="preconnect" href="https://gstatic.com" crossorigin>
  <link rel="preconnect" href="https://google-analytics.com">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://googletagmanager.com">
  <link rel="preconnect" href="https://telegram.org">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preload" href="/images/vector.png" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/logo.svg" as="image" media="(min-width: 601px)">
  <link rel="preload" href="/images/bg-fon.png" as="image" media="(min-width: 601px)">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="preload" as="style">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css"  as="style"  media="print" onload="this.media='all'" >
  <meta property="og:title" content="{{ page.h1title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{{ page.featured-image | prepend: site.url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@defiprime">
  <meta name="twitter:creator" content="@defiprime">
  <meta name="twitter:title" content="{{ page.h1title }}">
  <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 300 }}">
  <meta name="twitter:image" content="{{ page.featured-image | prepend: site.url }}">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
    integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
    crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138327045-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-138327045-1', { 'content_group1': 'blog' });

  </script>
  {% assign author = site.data.authors[page.author] %}

  <script type="application/ld+json">

  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
    "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
    "author": {
      "@type": "Person",
      "name": "{{ author.name }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Defiprime",
      "logo": {
        "@type": "ImageObject",
        "url": "https://defiprime.com/images/logo-60w.png",
        "width": "60",
        "height": "60"
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "https://defiprime.com/images/logo-60w.png",
      "height": "60",
      "width": "60"
    }
  }
 </script>
</head>
  <body class="post">
    {% include_cached header.html %}
    {% if page.featured-image %}
      <div class="feature" style="background-image: url({{ page.featured-image }})">
        <div class="container  typeset"></div>
      </div>
    {% endif %}
    <h1>{{ page.h1title }}</h1>
    <main class="main">
      {% include sidepanel.html html=page.toc_sidepanel  %}
      <article class="article  article--post  content  typeset">
        <div class="container container-toc">
          <div class="author-block">
            {% assign author = site.data.authors[page.author] %}
            <span class="name">{{ author.name }}</span>
            <span class="date">on {{ page.date | date_to_string }}</span>
          </div>
          {{ content | toc }}
        </div>
      </article>
      <div class="tags">
        {% if page.tags %}
          <span>Tags:</span>
        {% endif %}
        {% for tag in page.tags %}
          <a href="/t/{{tag | downcase | replace: " ", "-" }}.html" rel="tag" class="tag">{{ tag }}</a>
        {% endfor %}


      </div>
    </main>
    {% include_cached folowus.html %}
    {% include author_bio.html %}
    <h3 class="align-center">The Latest:</h3>
    <section class="latest">
      {% assign posts = site.categories.blog | where_exp:"post", "post.url != page.url"%}
      {% assign nonAmpPosts = ""  | split: ','%}

      {% for post in posts %}
        {% unless  post.url contains "/amp" %}
          {% assign nonAmpPosts = nonAmpPosts | push: post %}
        {% endunless  %}
      {% endfor %}


      {% assign nonAmpSamplePosts = nonAmpPosts | sample:4 %}

      {% for post in nonAmpSamplePosts%}
    	<article>
    		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}" class="post-link">
    			<div class="content">
    				<p class="title">{{ post.h1title }}</p>
    				<p>{{ post.intro }}</p>
    			</div>
    		</a>
    	</article>
    	{% endfor %}
    </section>
        {% include_cached footer.html %}
  </body>
</html>
