<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.pagetitle %}{{ page.pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:title" content="{% if page.pagetitle %}{{ page.pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{% if page.metadescription %}{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ page.featured-image | prepend: site.url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{% if page.pagetitle %}{{ page.pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <meta name="twitter:image" content="{{ page.featured-image | prepend: site.url }}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB9GWJD');</script>
    <!-- End Google Tag Manager -->

</head>

<body id='events-body'>

    {% include header.html %}
    <!-- Main -->
    <div id="main">
      <div class="inner">
    <h1>DeFi Meetups and Conferences</h1>
    <p class='defi_events_introduction'>
        Upcoming events related to the DeFi ecosystem. Do you want to add your event here? Fill <a href='https://sneg55.typeform.com/to/SPrjTk'>this form</a> or add your event at our <a href="https://github.com/defiprime/defiprime/edit/master/collections/_events/2020-01-01-event.md">github</a>.  </p>
<p> </p>

    <section class='upcoming_events_cards'>
        {% for event in site.events %}

        {% unless event.date < site.time %}

        <article>
            <a href='{{event.product-url}}' target="_blank" rel="noopener">
                <img class="lazyload" data-src='{{event.image}}'>
                <div class='event_card_info_part prevent-card-stretching'>
                    <h4>{{ event.product-title }}</h4>
                    <div class='event_card_details'>
                        <date>
                            {{ event.date | date_to_string }}
                        </date>
                        <span> {{ event.location | truncate: 31 }} </span>
                    </div>
                    <p>{{ event.product-description }}</p>
                </div>
            </a>
        </article>
        {% endunless %}

        {% endfor %}
    </section>

      </div>
    </div>
    {% include folowus.html %}
    {% include footer.html %}

</body>

</html>
