<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.pagetitle }} </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/assets/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.og %}{{ site.url }}{{ page.og }}{% else %}{{ site.url }}/images/og.png{% endif %}"  />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta name="twitter:description" content="{{ page.metadescription | strip_html | strip_newlines | truncate: 160 }}">
    <meta name="twitter:image" content="{% if page.og %}{{ site.url }}{{ page.og }}{% else %}{{ site.url }}/images/og.png{% endif %}">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PB9GWJD');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="product-page">

    {% include header.html %}
    <article class="article  article--post  content  typeset">

    <h1 class="collection-header">{{ page.h1title }}</h1>

    <div class="custodian_description">
        {{ content }}
    </div>

    <section id='assets_cards'>
        {% for asset_tool in site[page.cards] %}
            <article class="asset_tool_card">
                <a href="{{ asset_tool['product-url']}} "><img src="{{ asset_tool['image'] }}"></a>
                <h4><a href="{{ asset_tool['product-url']}} ">{{ asset_tool["product-title"] }}</a></h4>
                <div class="asset-tool-tags">
                    {% assign market_tags = asset_tool["ecosystem"] | split: ", " %}
                    {% for market_tag in market_tags %}
                        {% case market_tag %}
                            {% when "ethereum" %}
                                <img class="market_icon" title="Built on Ethereum or related to Ethereum ecosystem" src="images/eth.svg" />
                            {% when "bitcoin" %}
                                <img class="market_icon" title="Using Bitcoin ecosystem" src="images/btc.svg" />
                            {% when "tron" %}
                                <img class="market_icon" title="Built on Tron or related to Tron ecosystem" src="images/tron.svg" />
                            {% when "stellar" %}
                                <img class="market_icon" title="Built on Stellar or related to Stellar ecosystem" src="images/stellar.svg" />
                            {% when "eos" %}
                                <img class="market_icon" title="Built on EOS or related to EOS ecosystem" src="images/eos.svg" />
                            {% when "sefi" %}
                                <img class="market_icon" title="Built on SeFi or related to SeFi ecosystem" src="images/sefi.svg" />
                            {% when "non-custodial" %}
                                <img class="market_icon" title="Built on Non custodial or related to Non custodial ecosystem" src="images/non_custodial.svg" />
                        {% endcase %}
                    {% endfor %}
                    <div class="tags_separator"></div>
                    {% assign platform_tags = asset_tool["platform"] | split: ", " %}
                    {% for platform_tag in platform_tags %}
                        {% case platform_tag %}
                            {% when "android" %}
                                <img class="platform_icon" src="/images/android.svg" title="Mobile wallet for Android">
                            {% when "web" %}
                                <img class="platform_icon" src="/images/web.svg" title="Browser based wallet">
                            {% when "ios" %}
                                <img class="platform_icon" src="/images/ios.svg" title="Mobile wallet for iOS">
                        {% endcase %}
                    {% endfor %}
                </div>
                <p>{{ asset_tool["product-description"] | markdownify }}</p>
                <div title="Would you recommend this product?" class="comments">
                    <a href="/product/{{ asset_tool.product-title | slugify: 'latin'}}">
                        <img class="base_comment" src="/images/no_comment.svg">
                        <img class="hovered_comment" src="/images/comment_hover.svg">
                        <span>0</span>
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>

</article>

    {% include also.html %}  {% include footer.html %}


</body>

</html>
