<!DOCTYPE html>
<html>
<head>
    <title>{{ page.product-title }} - Reviews</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.product-description | strip_html | strip_newlines | truncate: 160 }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:title" content="{{ page.product-title }} - Reviews" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta property="og:description" content="{{ page.product-description | strip_html | strip_newlines | truncate: 300 }}" />
    <meta property="og:image" content="{{ page.image | prepend: site.url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{{ page.h1title }}">
    <meta name="twitter:description" content="{{ page.product-description | strip_html | strip_newlines | truncate: 300 }}">
    <meta name="twitter:image" content="{{ page.image | prepend: site.url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138327045-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138327045-1');
    </script>
</head>
<body class="post">

    {% include header.html %}
    <article class="article  article--post  content  typeset">
      <a href="/{{ page.colpermalink }}">Back to list of {{ page.coltitle }} projects</a>

    <h1>{{ page.product-title }}</h1>

    <div class="container">

<img src="{{ page.image }}" width="100%" alt="">
<h3> <a href="{{ page.product-url }}">{{ page.product-title }}</a> it's DeFi {{ page.coltitle }} project
</h3>


      <p> {{ page.product-description }}</p>
<h3>Would you recommend {{ page.product-title }} product?</h3>
      <div id="graphcomment"></div>
      <script type="text/javascript">

        /* - - - CONFIGURATION VARIABLES - - - */

        // make sure the id is yours
        window.gc_params = {
          graphcomment_id: 'defiprime',

          // if your website has a fixed header, indicate it's height in pixels
          fixed_header_height: 0,
        };

        /* - - - DON'T EDIT BELOW THIS LINE - - - */

        (function() {
          var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
          gc.src = 'https://graphcomment.com/js/integration.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
        })();
      </script>

  </article>

  {% include footer.html %}

</body>

</html>
