<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.product-title }} - Crypto Project Reviews. What is {{ page.product-title }}?</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="What is {{ page.product-title }}? {{ page.product-description | strip_html | strip_newlines | truncate: 160 }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:title" content="{{ page.product-title }} - Reviews. What is {{ page.product-title }}?" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta property="og:description" content="{{ page.product-description | strip_html | strip_newlines | truncate: 300 }}" />
    <meta property="og:image" content="{{ page.image | prepend: site.url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@defiprime">
    <meta name="twitter:creator" content="@defiprime">
    <meta name="twitter:title" content="{{ page.product-title }} - Reviews. What is {{ page.product-title }}?">
    <meta name="twitter:description" content="{{ page.product-description | strip_html | strip_newlines | truncate: 300 }}">
    <meta name="twitter:image" content="{{ page.image | prepend: site.url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138327045-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138327045-1', {'content_group2': 'product'});
    </script>

</head>
<body class="post">
    {% include header.html %}
    <article class="article  article--post content typeset">
        <a href="/{{ page.colpermalink }}">
            <i class="fas fa-angle-left"></i>
            {{ page.coltitle }}
        </a>

        <h1>{{ page.product-title }}</h1>
        <div class='product-description-table'>
            <a href="{{ page.product-url }}"><img class="lazyload" data-src="{{ page.image }}" width="100%" alt=""></a>
            <div class='product-highlights'>
                <h2>What is {{ page.product-title }}?</h2>
                <div class='product-tags-icons'>
                    <a href="{{ page.product-url }}" class="button button-transparent product-url-showcase">
                        <span>website</span>
                    </a>
                {% if page.twitter  %}
                        <a href='{{page.twitter}}'><i class="fab fa-twitter"></i></a>
                        {% endif %}
{% if page.github %}
                        <a href='{{page.github}}'><i class="fab fa-github"></i></a>

                {% endif %}
                                    </div>
                {% assign link_presented = page.product-description | markdownify | split: '<a' | size %}
                <div {% if link_presented == 1 %} style='flex: 0' {% endif %}> {{ page.product-description | markdownify }}
<p>
                  {% if page.type == 'cefi'   %}
                          {{ page.product-title }} is a custodial, CeFi product.
                          {% endif %} </p>
                </div>
            </div>
        </div>
        <h3 class='give-thoughts-header'>What do you think of {{ page.product-title }} product?</h3>

        <div id="graphcomment"></div>
        <script type="text/javascript">
            /* - - - CONFIGURATION VARIABLES - - - */

            // make sure the id is yours
            window.gc_params = {
            graphcomment_id: 'defiprime_prod',

            // if your website has a fixed header, indicate it's height in pixels
            fixed_header_height: 0,
            };

            /* - - - DON'T EDIT BELOW THIS LINE - - - */

            (function() {
            var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
            gc.src = 'https://graphcomment.com/js/integration.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
            })();
        </script>
    </article>
  <h3 class='related-products'>{{ page.product-title }} alternatives in <a href="/{{ page.colpermalink }}">{{ page.coltitle }}</a>:</h3>
  <section class="tiles">
    {% assign posts = site[page.collection] | sample:3 %}

    {% for post in posts %}
  	<article>
  		<a href="{{ post.url }}" class="post-link">
  			<div class="post-top">
  				<span class="image">
  					<img class="lazyload" data-src="{{ post.image }}" alt="" />
  				</span>
  			</div>
  			<div class="descr2">
  				<div class="content">
  					<h3>{{ post.product-title }}</h3>
  				</div>
  			</div>
  		</a>
  	</article>
  {% endfor %}
  </section>


  {% include footer.html %}
  <script type="application/ld+json">{
                              "@context": "http://schema.org",
                              "@type": "BreadcrumbList",
                              "itemListElement": [{
                              "@type": "ListItem",
                              "position": 1,
                                  "item": {
                                  "@type": "WebSite",
                                  "@id": "{{ site.url }}",
                                  "name": "DeFi"
                              }
                          },{
                              "@type": "ListItem",
                              "position": 2,
                                  "item": {
                                  "@type": "WebPage",
                                  "@id": "{{ site.url }}/{{ page.colpermalink }}",
                                  "name": "{{ page.coltitle }}"
                              }
                          },{
                              "@type": "ListItem",
                              "position": 3,
                                  "item": {
                                  "@type": "WebPage",
                                  "@id": "{{ page.url | replace:'index.html','' | prepend: site.url }}",
                                  "name": "{{ page.product-title }}"
                              }

                          }]
                          }</script>
</body>

</html>
