.custodian_description {
  p {
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    margin: 0 auto 30px auto;
    color: #292984;
    max-width: 730px;
  }
}
.card_main_details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-page #main .asset_tool_card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 350px;
  box-shadow: 0px 0px 6px rgba(41, 41, 132, 0.12);
  color: #292984;
  transition: 0.3s ease-in-out all;
  overflow: hidden;
  h4 {
    margin-top: 10px;
  }
  & > a {
    .visit-website {
      display: none;
    }
    img {
      transition: 0.3s ease-in-out all;
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
  }
  a {
    height: 175px;
  }
  h4 a {
    color: #292984;
    font-family: "Kanit", sans-serif;
    padding: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: none;
    transition: 0.2s ease-in-out color;
  }
  p {
    padding: 0 15px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    flex: 1;
    margin-bottom: 10px;
  }
  .market_icon,
  .platform_icon {
    margin: 0 5px;
    max-width: 26px;
    max-height: 26px;
  }
}

#assets_cards {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 75px 5px;
  .article-wrapper {
    background-color: #ffffff;
    .asset_tool_card {
      height: 100%;
    }

    &.featured-wrapper {
      padding-top: 0;
      background-color: #05d2dd;
      .asset_tool_card {
        background-color: #ffffff;
        max-height: calc(100% - 45px);
      }
      .featured-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        .sponsored {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 180%;
          display: flex;
          align-items: center;
          text-align: right;
          color: #ffffff;
        }
        .featured-product {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 180%;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }
    }
  }
}

.filters-button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .button {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #8f68fc;
    background: none;
    margin-top: 0;
    margin-bottom: 8px;
    height: auto;
    padding: 10px 16px;
    text-transform: capitalize;
    outline: none;
    &:not(:last-child) {
      margin-right: 2px;
    }
    &:hover {
      color: #ffffff;
      background-color: #05d2dd;
    }
    &.active {
      color: #ffffff;
      background: #292984;
    }
  }
}

.asset-tool-tags {
  padding: 0 15px;
  margin: -16px 0 16px 0;
  svg {
    width: 26px;
    height: auto;
    .icon-token-orange {
      fill: #ff961c;
    }
    &:hover {
      .icon-token-orange,
      .icon-token-purple {
        fill: #05d2dd;
      }
    }
  }
  span {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
}

.tooltipster-sidetip.tooltipster-customized {
  .tooltipster-box {
    background: #292984;
    border: 1px solid #292984;
    border-radius: 0;
    box-shadow: none;
  }
  .tooltipster-content {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 160%;
    color: white;
    padding: 7px 10px;
  }
  .tooltipster-arrow {
    &-border {
      border-top-color: #292984;
    }
    &-background {
      border-top-color: #292984;
    }
  }
}

.tags_separator {
  display: inline-block;
  width: 10px;
}

.product-page #assets_cards .comments {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  > a {
    position: relative;
  }
  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #8f68fc;
    vertical-align: text-top;
    margin-left: 10px;
    &.gc-counter {
      line-height: 1.2;
      padding-top: 6px;
      padding-bottom: 6px;
      &.gc-active-comment {
        color: _color(purple-color);
      }
    }
  }
  .tip {
    .icon {
      margin: 0;
      vertical-align: text-bottom;
      font-size: 14px;
    }
    display: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 220%;
    color: #292984;
    margin-left: 5px;
  }
}

.product-page #main .asset_tool_card {
  .comments {
    a {
      display: flex;
      align-items: center;
      height: auto;
      border-bottom: none;
      font-size: inherit;
    }
  }
  p a {
    font: inherit;
    font-family: "Open Sans", sans-serif;
  }
}

.read_next {
  margin-bottom: 75px;
  &:before {
    content: "";
    background-image: url("/../../images/bg-fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 90%;
    position: absolute;
    left: 50%;
    margin-top: 123px;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: -1;
  }
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
    a {
      font-family: "Kanit", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.2;
      transition: 0.2s ease-in-out color;
      color: #8f68fc;
      border-bottom: none;
      &:hover {
        color: #05d2dd;
      }
    }
    .articles_count {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 1.8;
      color: #8b8bb8;
      transition: 0.2s ease-in-out color;
      font-style: normal;
      font-weight: normal;
      vertical-align: super;
    }
  }
}

.product-page #main {
  p a {
    font-weight: 400;
    font-size: 100%;
    font-weight: 400;
    font-size: 100%;
    font: inherit;
  }
  a {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    transition: 0.2s ease-in-out color;
    color: #8f68fc;
    border-bottom: none;
    span {
      color: #8b8bb8;
      transition: 0.2s ease-in-out color;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      vertical-align: super;
    }
  }
}

.reading_next_links {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 24px;
}

@include breakpoint(small) {
  #assets_cards,
  .reading_next_links {
    grid-template-columns: auto auto;
  }
}

@include breakpoint(xsmall) {
  #assets_cards,
  .reading_next_links {
    grid-template-columns: auto;
    justify-content: space-evenly; //positioning single column to center
  }
  .reading_next_links {
    padding-left: 0;
    grid-template-columns: auto;
    a {
      margin: 10px 0;
    }
  }
  .read_next:before {
    display: none;
  }
}
.product-page #main .asset_tool_card {
  &.is-hover {
    > .card_main_details {
      h4 a {
        color: _color(green-color);
      }
      .comments {
        .tip {
          display: inline;
        }
        .comment-icon {
          fill: _color(green-color);
          stroke: _color(green-color);
        }
        .gc-counter {
          color: _color(green-color);
        }
      }
    }
  }
  &.is-hover-link {
    &.is-hover{
      > .card_main_details {
        p a {
          color: _color(green-color);
        }
      }
      h4 a {
        color: _color(purple-color);
      }
      .comments {
        .tip {
          display: none;
        }
        .comment-icon {
          fill: _color(purple-color);
          stroke: _color(purple-color);
        }
        .gc-counter {
          color: _color(purple-color);
        }
      }
    }

  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px #8f68fc, 0px 0px 6px 4px rgba(41, 41, 132, 0.12);
    transform: translateY(-3%);
  }
  & > a {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(41, 41, 132, 0.6), rgba(41, 41, 132, 0.6));
        z-index: 2;
        transform: scale(1.05);
      }
      img {
        transform: scale(1.05);
      }
      .visit-website {
        padding: 12px 0;
        width: 140px;
        background-color: #05d2dd;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;
        transition: 0.3s ease-in-out all;
      }
    }
  }
}
