.custodian_description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #292984;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    p {
        margin: 0 0 3em 0;
    }
}
.collection-header {
    line-height: 1;
}
.card_main_details {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.product-page #main .asset_tool_card {
    display: flex;

    flex-direction: column;
    position: relative;
    max-width: 350px;

    box-shadow: 0px 0px 6px rgba(41, 41, 132, 0.12);
    color: #292984;
    transition: .2s ease-in-out box-shadow;

    &:hover {
        box-shadow: 0px 0px 6px 4px rgba(41,41,132,0.12);
        outline: 1px solid #8F68FC;
    }

    h4 a {
        color: #292984;
        font-family: Kanit;
        padding: 0 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
        text-transform: none;
        transition: .2s ease-in-out color;
        
        &:hover {
            color: #05D2DD;
        }
    }

    p {
        padding: 0 15px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        flex: 1;
    }

    .market_icon, .platform_icon {
        margin: 0 5px;
    }
}

#assets_cards {
    display: grid;
    margin-top: 54px;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.asset-tool-tags {
    padding: 0 15px;
    margin: -16px 0 16px 0;
}

.tags_separator {
    display: inline-block;
    width: 10px;
}

.product-page #assets_cards .comments  {
    position: relative;
    left: 17px;
    margin-bottom: 24px;

    img {
        vertical-align: middle;
        transition: .2s ease-in-out opacity;
        position: absolute;
        height: 18px;
        top: 10px;
    }

    span {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 180%;
        color: #8B8BB8;
        vertical-align: middle;
        margin-left: 29px;
    }
}

.product-page #main .asset_tool_card p a{
    font: inherit;
    font-family: 'Open Sans';
}

.read_next {
    margin-top: 84px;
    &:before {
        content: '';
        background-image: url("/../../images/bg-fon.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;
        width: 80%;
        position: absolute;
        left: 50%;
        margin-top: 123px;
        transform: translateX(-50%);
        opacity: .5;
        z-index: -1;
    }
    h3 {
        font-family: Kanit;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        letter-spacing: 0;
        text-transform: none;
        color: #292984;
    }
}

.product-page #main a {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    transition: .2s ease-in-out color; 

    color: #8F68FC;
    border-bottom: none;

    &:hover {
        color: #05D2DD;

        span {
            color: #05D2DD;
        }

        .hovered_comment {
            opacity: 1;
        }

        .base_comment {
            opacity: 0;
        }
    } 

    span {
        color: #8B8BB8;
        transition: .2s ease-in-out color;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        vertical-align: super;
    }
}

.hovered_comment {
    opacity: 0;
}

.reading_next_links {
    display: grid;
    padding-left: 51px;
    grid-template-columns: auto auto auto;
    grid-gap: 24px;
}

@media screen and (max-width:480px) {
    #assets_cards  {
        grid-template-columns: auto;
    }
    .reading_next_links {
		padding-left: 0;
        grid-template-columns: auto;
        
        a {
            margin: 10px 0;
        }
    }
    .read_next:before {
        display: none;
    }
}