header ~ p {
  max-width: 34em;
  margin: 0 auto 2em;
}
.post {
  color: _color(main-color);
  #wrapper {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 20px;
      left: 0;
      width: 100%;
      height: 627px;
      background-image: url("/../../images/bg-fon.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
    &:after {
      position: absolute;
      content: "";
      bottom: 400px;
      left: 0;
      width: 100%;
      height: 627px;
      background-image: url("/../../images/bg-fon.png");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}
.author {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and(min-width: 760px) {
    max-width: 730px;
  }
  @media screen and(max-width: 759px) {
    max-width: 100%;
    padding: 0 15px;
  }
  @include breakpoint(min-small) {
    margin: 45px auto 75px auto;
  }
  @include breakpoint(small) {
    margin: 45px auto;
  }
  &-block {
    display: flex;
    justify-content: center;
    font-weight: 400;
    .name {
      color: _color(purple-color);
      margin-right: 5px;
    }
    .date {
      color: #828282;
    }
    @include breakpoint(min-small) {
      font-size: 18px;
      margin-bottom: 45px;
    }
    @include breakpoint(small) {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-img {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    img {
      border-radius: 50%;
    }
    @include breakpoint(min-small) {
      width: 22%;
      img {
        max-width: 130px;
        margin: 0 auto 40px auto;
      }
    }
    @include breakpoint(small) {
      width: 100%;
      img {
        max-width: 95px;
        margin: 0 auto 15px auto;
      }
    }
  }
  &-descr {
    display: flex;
    flex-direction: column;
    @include breakpoint(min-small) {
      width: 78%;
      padding-left: 30px;
    }
  }
  &-about {
    line-height: 1.8;
    color: #333333;
    margin-bottom: 8px;
    @include breakpoint(min-small) {
      font-size: 16px;
    }
    @include breakpoint(small) {
      font-size: 12px;
      text-align: center;
    }
  }
  &-info {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(small) {
      margin-right: 0;
    }
  }
  &-title {
    font-family: "Kanit", sans-serif;
    line-height: 1.2;
    font-weight: 500;
    color: _color(purple-color);
    margin-bottom: 25px;
    @include breakpoint(min-small) {
      font-size: 24px;
    }
    @include breakpoint(small) {
      font-size: 22px;
      text-align: center;
    }
  }
  &-name {
    align-self: flex-end;
  }
  &-skills {
    color: #828282;
    font-size: 14px;
  }
  &-social {
    display: flex;
    @include breakpoint(min-small) {
      margin: 0 auto;
      &.shown-small {
        display: none;
      }
    }
    @include breakpoint(small) {
      margin: 0 auto 30px auto;
      &.hidden-small {
        display: none;
      }
    }
    .social-link {
      width: 40px;
      height: 40px;
      background-color: _color(purple-color);
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      transition: 0.3s;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover {
        background-color: _color(green-color);
      }
    }
  }
}
.post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: _add-font(second-family);
    color: _color(main-color);
    font-weight: _add-font(weight-medium);
  }
  @include breakpoint(small) {
    h1 {
      font-size: 36px;
      padding-top: 105px;
    }
    #main {
      h1{
        padding-top: 0
      }
    }
  }
  h2 {
    font-size: 42px;
    line-height: 1.2;
    margin: 55px 0 30px 0;
    outline: none;
    @include breakpoint(small) {
      font-size: 30px;
      margin: 60px 0 45px 0;
    }
  }

  h3 {
    font-size: 32px;
    line-height: 1.2;
    margin: 25px 0 30px 0;
    @include breakpoint(small) {
      font-size: 26px;
      margin: 45px 0 15px 0;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 1.2;
    @include breakpoint(small) {
      font-size: 22px;
      margin: 45px 0 15px 0;
    }
  }

  h5 {
    font-size: 0.8em;
  }

  h6 {
    font-size: 0.8em;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    @include breakpoint(small) {
      font-size: 14px;
    }
  }
  a {
    font-weight: _add-font(weight-bold);
  }
  li{
    font-family: "Open Sans", sans-serif;
    color: #000000;
  }
  strong {
    font-weight: 700;
    font-size: 16px;
  }
}
.author-block ~ p {
  &:first-of-type {
    font-weight: 400;
    @include breakpoint(min-small) {
      font-size: 20px;
      margin-bottom: 40px;
    }
    @include breakpoint(small) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
.product-page {
  h1 {
    font-size: 66px;
    line-height: 1.2;
    margin-bottom: 30px;
    @include breakpoint(small) {
      font-size: 36px;
    }
  }
  h3 {
    font-size: 1em;
  }
  #main a {
    @include vendor("transition", ("border #{_duration(transition)} ease"));
    text-decoration: none;
    color: #585858;
    border-bottom: dotted 1px rgba(88, 88, 88, 0.5);

    &:hover {
      border-bottom-color: transparent;
      color: _color(purple-color);
    }
  }
}
