.main-page {
  #wrapper {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/images/bg_top.svg");
      background-repeat: no-repeat;
      background-position: center top;
      z-index: -1;
      @media screen and (max-width: 992px) {
        background-repeat: repeat;
      }
    }
  }
}
.main-page-header {
  z-index: 2;

  h1 {
    color: #ff961c;
  }

  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
    display: block;
    text-align: center;
    color: #292984;
    max-width: 779px;
    margin: 0 auto;
  }
}

.tiles.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  article {
    width: 100% !important;
    margin: 0 !important;
  }
}

.recently_added_annotation {
  font-family: "Kanit", sans-serif;
  margin: 96px auto 48px auto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  color: #292984;
  span {
    color: #ff961c;
  }
}
.recent_blog_link {
  padding: 0 !important;

  h2 {
    color: #292984;
    padding: 7px 18px;
  }
}
#recently_added_section article {
  overflow: hidden;
  transition: 0.3s ease-in-out all;

  > a img {
    transition: 0.3s ease-in-out all;
    width: 100%;
    height: 175px;
    object-fit: cover;
  }
  &:hover {
    transform: translateY(-5%);
    box-shadow: 0 0 0 1px #8f68fc, 0px 2px 12px rgba(41, 41, 132, 0.24);

    > a img {
      transform: scale(1.05);
    }
  }
}
.latest_alpha,
.latest_blog_sneak_peak {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 35px;

  article {
    box-shadow: 0px 0px 6px rgba(41, 41, 132, 0.12);
    transition: 0.2s ease-in-out all;
    background: #ffffff;
    &:hover {
      box-shadow: 0 0 0 1px #8f68fc, 0px 2px 12px rgba(41, 41, 132, 0.24);
      transform: translateY(-3%);
    }
  }
}
.latest_blog_link,
.latest_alpha_link {
  position: relative;
  background: #ffffff;
  &:after {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    position: absolute;
  }

  a * {
    margin-left: 35px;
    color: #292984;
    text-transform: none;
    letter-spacing: 0;
  }

  h2 {
    margin-top: 26px;
    margin-bottom: 10px;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-right: 32px;
  }
}
.latest_alpha_link {
  h2 {
    margin-bottom: 32px;
  }
}
.recent-blog-color_cyan:after {
  background: #05d2dd;
}
.recent-blog-color_orange:after {
  background: #ff961c;
}
.recent-blog-color_violet:after {
  background: #8f68fc;
}
.recent-blog-color_violetgray:after {
  background: #8b8bb8;
}

.upcoming_events_cards {
  background: #ffffff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  gap: 30px;
  img {
    height: 208px;
  }

  article {
    box-shadow: 0px 0px 6px rgba(41, 41, 132, 0.12);
    transition: 0.3s ease-in-out all;
    overflow: hidden;

    > a img {
      transition: 0.3s ease-in-out all;
      width: 100%;
      height: 175px;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 0 0 0 1px #8f68fc, 0px 2px 12px rgba(41, 41, 132, 0.24);
      transform: translateY(-3%);
      > a img {
        transform: scale(1.05);
      }
    }
  }

  h4 {
    margin-left: 15px;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #292984;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 15px;
  }

  date {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;

    color: #8b8bb8;
    position: relative;
    padding-left: 26px;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      background: url("/images/location.svg");
      height: 20px;
      width: 19px;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    margin: 0 15px;

    color: #292984;
  }

  span {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #8b8bb8;
    padding-left: 17px;

    &:before {
      content: "";
      height: 3px;
      width: 3px;
      position: absolute;
      left: 5px;
      top: 50%;
      background: #ff961c;
      transform: translateY(-50%);
    }
  }
}

@include breakpoint(small) {
  .latest_blog_sneak_peak,
  .latest_alpha,
  .upcoming_events_cards {
    grid-template-columns: auto auto;
  }
  .recently_added_annotation {
    font-size: 36px;
    margin: 48px auto 36px auto;
  }
}

@include breakpoint(xsmall) {
  .latest_blog_sneak_peak,
  .latest_alpha,
  .upcoming_events_cards {
    grid-template-columns: auto;
  }
  .recently_added_annotation {
    font-size: 32px;
  }
}

.event_card_details {
  margin-left: 15px;
}

.event_card_info_part {
  display: flex;
  flex: 1;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;

  &.prevent-card-stretching {
    justify-content: start;

    .event_card_details {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
