.product-url-showcase {
  text-align: center;
  margin: 0;
  padding: 0px 15px;
  margin-right: 25px;
  height: auto;

  span {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;

    text-transform: lowercase;
    letter-spacing: normal;

    @include breakpoint(min-small) {
      font-size: 18px;
    }
    @include breakpoint(small) {
      font-size: 10px;
      height: auto;
      line-height: 1;
      padding: 12px 0;
    }
  }
}
.give-thoughts-header {
  margin-top: 40px;
  text-align: center;
}
.related-products {
  text-align: center;
  margin-top: 70px;
}
.product-description-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 50px;
  h2 {
    @include breakpoint(min-small) {
      font-size: 30px;
      margin: 0;
      text-align: left;
    }
    @include breakpoint(small) {
      font-size: 26px;
      margin-top: 40px;
      text-align: center;
    }
  }

  img {
    max-width: 445px;
    max-height: 223px;
  }
}

.product-highlights {
  display: flex;
  flex-direction: column;
  @include breakpoint(min-small) {
    padding: 0 36px;
    width: 50%;
    min-width: 320px;
  }
  h2 {
    margin-bottom: 25px;
  }
  blockquote {
    p {
      display: block;
      a {
        display: inline-block;
      }
    }
  }
  a {
    color: #292984;
    font-weight: 600;
    &:hover {
      color: _color(green-color);
    }
    &.button-trade {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      width: 255px;
      height: 45px;
      background-color: _color(purple-color);
      color: #ffffff;
      &:hover {
        background-color: _color(green-color);
        color: #ffffff;
      }
    }
  }
  p {
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.product-tags-icons {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    align-self: center;
    display: flex;
  }

  svg {
    width: 26px;
    height: auto;
    margin-right: 20px;
    path {
      fill: #8f68fc;
    }
    &:hover {
      path {
        fill: #05d2dd;
      }
    }
  }
}

blockquote {
  border-left: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  padding: 0;
  margin: 0;
  flex: 1;

  p {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #000000 !important;
    height: 100%;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;

    a {
      display: block;
    }
  }
}
.article--post {
  + h3 {
    margin: 75px auto 45px auto;
  }
  .arrow-back {
    position: absolute;
    svg {
      margin-right: 8px;
    }
    @include breakpoint(min-small) {
      top: -37px;
    }
    @include breakpoint(small) {
      font-size: 14px;
      top: -18px;
      svg {
        width: 15px;
        height: auto;
      }
    }

    &:hover {
      .arrow-back-icon {
        stroke: _color(green-color);
      }
    }
  }
  img {
    display: block;
    margin: auto;
  }
}
.product {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 505px;
    background-image: url(/../../images/bg-product-page.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #wrapper:before {
    content: none;
  }
}

.block {
  display: block !important;
}
.none {
  display: none !important;
}
