#sidepanel {
    z-index: 101;
    position: fixed;
    right: 50%;
    max-width: 255px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(41,41,132,0.12);
    transform: translate(-50%, -50%);
    margin-right: -780px;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
    visibility: hidden;

    & ~ .article .container h1#assets-management-tools ~ h3{
        display: inline-block;
        & + p {
            display: inline-block;
        }
    }

    .product-page #main &{
        color: #292984;
    }

    h3 {
        font-family: Kanit;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        margin: 28px 0px 0px 13px;
        text-transform: none;
        letter-spacing: inherit;

    }

    ul {
        margin: 0;
        list-style-image: none;
        list-style-type: none;
    }

    hr {
        border-color: #F2F2F2;
        width: 90%;
        margin: 20px auto 6px auto;
    }

    .toc-sidepanel {
        font-family: 'Open Sans';
        margin-right: 10px;
        margin-left: -14px;
        
        a:before {
            display: none;
        }

        ul {
            margin: 0 0 0 -7px !important;
        }
        
        li {
            padding: 0.6em 0 0.6em 0.7em;
            position: relative;
            margin-bottom: 0;

            &:not(:last-child):after {
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 93%;;
                background: #F2F2F2;
                content: '';
                height:1px;
            }

            a.toc-link{
                font: inherit;
                &.is-active-link {
                    font-weight: 700;
                }
            }
        }
    }
}

.is-collapsible {
    margin-bottom: -0.5em !important;
    margin-top: 1em !important;

    li:after {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    #sidepanel {
        display: none;
    }
}